@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 118 49% 85%;
    --primary-foreground: 210 40% 98%;

    --secondary: 166 100% 26%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .max-container {
    @apply max-w-[1200px] mx-auto;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .text-stroke {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #FFFFFF;
    paint-order: stroke fill;
  }
}

.thumbs .swiper-slide {
  opacity: 0.45;
}

.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}